aws_access_key_id                    = "<key>"
aws_secret_key                       = "<key>"
aws_session_token                    = "<token>"
ibmcloud_api_key                     = "<key>"
ibmcloud_washington_namespace        = "<namespace>"
alphavantage_api_key                 = "<key>"
ibm_object_storage_endpoint_url      = "<url>"
ibm_object_storage_api_key           = "<key>"
ibm_object_storage_bucket_name       = "<name>"
ibm_object_storage_access_key_id     = "<key>"
ibm_object_storage_secret_access_key = "<key>"
